
/*game background body*/
body {
    font-family: Arial, sans-serif;
    background-color: #efdff5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*game content container*/
.container {
    text-align: center;
    background-color: #e3dab1;
    font-family:fantasy;
    font-size: large;
    color: #50024c;
    padding: 20px;
    border-radius: 40%;
    box-shadow: 0 0 20px rgb(175, 19, 199);
}

/*buttons*/
button {
    padding: 15px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/*java use script id refernce to container css style*/
#question-container {
    margin-bottom: 30px;
    font-size: 24px;
   
}

#particles-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /*Places the particle container behindcontent */
}
