body {
    background-color: #efdff7;
    font-family: Arial, sans-serif;
    margin: 0;
}



.topFooter {
    background-color: #9EBDC2;
    padding: 2%;
    width: 79vw;
    margin: 1% auto 0 16%;
    border: 3px solid #863981;
    text-align: center;
    color: #A2C4C9;
}


.topFoterTextTitle {
    font-size: 3vw;
    margin: 5% auto 0 6%;
    color: #863981;
}


.navigationContainer {
    background-color: #9ebdc27b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}


.navbarHome, .navbarAbout {
    font-size: 2vw;
    text-decoration: none;
    color: black;
}


.navbarHome:hover, .navbarAbout:hover {

    background-color: #F1C232;

}



/* Style for the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1; /* have it onfornt of content*/
    top: 0;
    left: 0;
    background-color: #675e0fe2;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style for the links in the side navigation */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}



/* Change color on hover for the links in the side navigation */
.sidenav a:hover {
    color: #fffffa;
}

/* Style for the main content area */
.maincontent {
    margin-left: 200px; /* width of the side navigation */
    padding: 20px;
}



/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {

    .topFooter {
       
        width: 59vw;
        margin: 1% auto 0 35%;
        
    }

}