/*Page bady color*/
body {
    background-color: #efdff7;
    font-family: Arial, sans-serif;
    margin: 0;
}

/*top fotter/title css style */
.topFooter {
    background-color: #9EBDC2;
    padding: 2%;
    border: 3px solid #863981;
    text-align: center;
    color: #A2C4C9;
}

.topFoterTextTitle {
    font-size: 3vw;
    color: #863981;
}


/*navigation fotter css style */
.navigationContainer {
    background-color: #9ebdc27b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.navbarHome, .navbarFoundersCoders {
    font-size: 2vw;
    text-decoration: none;
    color: black;
}

.navbarHome:hover, .navbarFoundersCoders:hover {

    background-color: #F1C232;

}

/*Hobbey image */
.aboutMeContent img {
    max-width: 100%;
    margin: 10% auto 0 60%;
    height: 20vw;
    border-radius: 10%; 
}

/*FC image */
.aboutMeContentFC img {
    max-width: 100%;
    margin: 10% auto 0 -10%;
    height: 15vw;
    border-radius: 10%; 

}

/* Container for both images */
.aboutMeImagesContainer {
    display: flex;
    justify-content: space-between;
}


/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
    .topFooter {
        padding: 5%;
    }

    .topFoterTextTitle {
        font-size: 5vw;
    }

    .navigationContainer {
        flex-direction: column;
        align-items: stretch;
        padding: 2%;
    }

    .navbarHome, .navbarFoundersCoders {
        font-size: 3vw;
        margin-bottom: 2%;
    }


    .aboutMeContent img {
        max-width: 100%;
        margin: 0 auto 0 1%;
        height: 30vw;
        border-radius: 10%; 
    }


    .aboutMeContentFC img {
        max-width: 100%;
        margin: 0 auto 0% 1%;
        height: 20vw;
        border-radius: 10%; 
    }

    .aboutMeImagesContainer { /*moves images to a colume if @meadia is activated based on windows width condotion*/
        flex-direction: column;
        align-items: center;

        
    }


}

/*particle container */
#particles-container { /* denotes an ID= particles-container*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /*Places the particle container behindcontent */
}

